body {
  background: #191919;
  color: whitesmoke;
  text-align: center;
  font-family: 'Comic Neue', sans-serif;
  margin: auto;
}

.container {
  height: auto;
  background: #8714bd;
  border-bottom: solid 3px whitesmoke;
  font-size: 20px;
  padding-top: 15px;
  margin-top: 25px;
  width: 100% auto;
}

h1 {
  font-size: 50px;
  color: whitesmoke;
  margin: 0 0 20px 0;
  padding-top: 5px;
}

h3 {
  margin: 0px 15px 10px 15px;
  padding: 20px;
  text-align: justify;
  font-size: 16px;
}

.top {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  color: #212121;
  height: auto;
  font-size: 20px;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: whitesmoke;
}

@keyframes blockMove {
  100% {
    transform: translate(0px, -3px);
  }
}

.blocks {
  margin: auto;
  width: 80%;
  height: 160px;
  display: grid;
  grid-gap: 8px 8px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#topHR {
  display: none;
}

hr {
  color: whitesmoke;
}

.Name:hover {
  text-shadow: -2px -2px #696969;
}

.content {
  display: block;
  margin: auto;
  width: 60%;
}

.Name {
  font-size: 65px;
}

a {
    text-decoration: none;
    color: #181818;
}

a:hover {
  text-decoration: underline;
}

.links {
  display: inline;
  margin: auto;
  padding-bottom: 5px;
}


.links a:active {
  color: rgb(21, 21, 21);
}

.links a:active {
  color: rgb(21, 21, 21);
}

#Me {
  border: 4px solid;
  border-radius: 4px;
  width: 25%;
  height: auto;
  margin: auto;
}

#Me:hover {
  animation-name: colors;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes colors {
  0% {
    border-color: #f0170f;
  }
  20% {
    border-color: #e8b117;
  }
  40% {
    border-color: #5adf20;
  }
  60% {
    border-color: #36bfc9;
  }
  80% {
    border-color: #9532cd;
  }
  100% {
    border-color: #f0170f;
  }
}

@media (max-width: 969px) {
  .links {
    font-size: 16px;
  }
}

@media (min-width: 920px) {
  h3 {
    font-size: 20px;
  }
  #Me {
    width: 25%;
  }
}

@media (max-width: 625px) {
  .top {
    height: 20px;
  }

  .links {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  h3 {
    font-size: 13px;
  }
}

@media (max-width: 475px) {
  .container {
    margin-bottom: auto;
  }
  .Name {
    font-size: 50px;
  }
  .content {
    width: 60%;
  }
  .links {
    font-size: 10px;
  }
}

.gitBlock, .mailBlock, .callBlock {
  background: lightgray;
  text-align: center;
  margin: 2px auto;
  height: 106px;
  width: 120px;
  padding: auto;
  line-height: 53px;
  border-radius: 8px;
}

.icon {
  width: 103px;
  height: auto;
  margin-top: 1px;
}

.gitBlock:hover, .mailBlock:hover, .callBlock:hover {
  animation: blockMove 500ms forwards;
}

@media (max-width: 450px) {
  .links {
    font-size: 10px;
  }
  
  .gitBlock, .mailBlock, .callBlock {
  background: lightgray;
  text-align: center;
  margin: 2px auto;
  height: 53px;
  width: 60px;
  padding: auto;
  line-height: 53px;
  border-radius: 8px;
}

 h3 {
    font-size: 10px;
  }

.icon {
  width: 50px;
  height: auto;
  margin-top: 1px;
}
}

@media (max-width: 340px) {
  .links {
    font-size: 8px;
  }
}