body {
  background: #191919;
  color: whitesmoke;
  text-align: center;
  font-family: 'Comic Neue', sans-serif;
  margin: auto;
}

.container {
  height: auto;
  background: #edc100;
  border-bottom: solid 3px whitesmoke;
  font-size: 20px;
  padding-top: 15px;
  margin-top: 25px;
  width: 100% auto;
}

h1 {
  font-size: 50px;
  color: whitesmoke;
  margin: 0 0 20px 0;
  padding-top: 5px;
}

.top {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  color: #212121;
  height: auto;
  font-size: 20px;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: whitesmoke;
}

@keyframes blockMove {
  100% {
    transform: translate(0px, -3px);
  }
}

.blocks {
  margin: auto;
  width: 80%;
  height: 160px;
  display: grid;
  grid-gap: 8px 8px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.content {
  border: solid 3px whitesmoke;
}

hr {
  color: whitesmoke;
}

.Name:hover {
  text-shadow: -2px -2px #696969;
}

.content {
  display: block;
  margin: auto;
}

.Name {
  font-size: 65px;
}

a {
    text-decoration: none;
    color: #181818;
}

a:hover {
  text-decoration: underline;
}

.links {
  display: inline;
  margin: auto;
  padding-bottom: 5px;
}

.links a:active {
  color: rgb(21, 21, 21);
}

.gitBlock, .mailBlock, .callBlock {
  background: lightgray;
  text-align: center;
  margin: 2px auto;
  height: 106px;
  width: 120px;
  padding: auto;
  line-height: 53px;
  border-radius: 8px;
}

.icon {
  width: 103px;
  height: auto;
  margin-top: 1px;
}

.gitBlock:hover, .mailBlock:hover, .callBlock:hover {
  animation: blockMove 500ms forwards;
}

@media (max-width: 969px) {
  .links {
    font-size: 16px;
  }
}


@media (max-width: 625px) {
  .top {
    height: 20px;
  }

  .links {
    font-size: 12px;
  }

  .content {
    width: 420px;
  }

  #Resume, #LOR, #Essay {
    height: 550px;
  }
}

@media (max-width: 475px) {
  .container {
    margin-bottom: auto;
  }
  .Name {
    font-size: 50px;
  }
  .content {
    width: 90%;
  }
  .links {
    font-size: 10px;
  }
  #Resume, #LOR, #Essay {
    height: 365px;
  
  }
}

@media (max-width: 450px) {
  .links {
    font-size: 10px;
  }
  
  .gitBlock, .mailBlock, .callBlock {
  background: lightgray;
  text-align: center;
  margin: 2px auto;
  height: 53px;
  width: 60px;
  padding: auto;
  line-height: 53px;
  border-radius: 8px;
}

.icon {
  width: 50px;
  height: auto;
  margin-top: 1px;
}
}

@media (max-width: 515px) {
 .Name {
  font-size: 40px;
 }
}

@media (max-width: 340px) {
  .links {
    font-size: 8px;
  }
}

@media (max-width: 310px) {
 .Name {
  font-size: 25px;
 }
}